* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

    color: rgb(255, 255, 255);
    cursor: cell;
    
}

a {
    text-decoration: none;
    font-size: 30px;
    
}

a:hover {
    color:rgb(16, 137, 182);
}

@keyframes color {
    from{color: rgb(35, 106, 127);}
    to{color:rgb(99, 119, 0);}
}

h1 {
    text-shadow: -3px 3px 2px rgb(253, 253, 253); 
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.bild {
    width: 100%;
    height: 1000px;
    background-image: url(greenpink.png);
    background-size: cover;
    display: flex;
    justify-content: center;


}

.transparent {
    border-radius: 20px;
    width: 1200px;
    height: 350px;

    margin-top: 300px;
    margin-bottom: auto;

    background-color: rgb(49, 71, 60);
    opacity: 0.75;

   /* box-shadow: 7px 10px 20px 5px black;*/

    position: fixed;
    z-index: 1;
}

.sektion {
   /* border-style: solid;
    border-width: 5px;
    border-color: aqua;*/

    margin-top: 300px;
    margin-bottom: auto;

    width: 1300px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;

    position: fixed;
    z-index: 2;
    
}



.list {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

   /* border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 157);*/

    width:400px;
    height: 300px;
    
}

.header {
    /*font-family:GothF;*/
    font-size: 45px;
}

